@{
    ViewData["Title"] = "Account Extract";
}

<h1>Account Extract</h1>

<form asp-action="AccountExtract">
    <div class="form-group">
        <label for="account" class="col-form-label"></label>
        <input for="account" type="number" class="form-control" name="account" />
    </div>
    <div class="form-group">
        <input type="submit" value="Show" class="btn btn-success" />
    </div>
</form>
