@{
    ViewData["Title"] = "Montly Report";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="MonthlyReport">
    <div class="form-group">
        <label for="account" class="col-form-label"></label>
        <input type="number" name="account" class="form-control" value=@ViewData["account"] />
    </div>
    <div class="form-group">
        <label for="year" class="col-form-label"></label>
        <input type="number" name="year" class="form-control" value=@ViewData["year"] />
    </div>
    <div class="form-group">
        <input type="submit" value="Show" class="btn btn-success" />
    </div>
</form>

